.button_no_boarder {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    cursor: wait;
    font-size: 32px;
}
.button_no_boarder_small {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    cursor: not-allowed;
    font-size: 16px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
/* Font style for a specific header */
h1.special-header {
    font-family: 'Comic Sans MS', sans-serif;
    /* Additional styling if needed */
    color: #3498db; /* Set a custom text color */
    font-size: 28px; /* Set a custom font size */
}
p.special-font {
    font-family: 'Brush Script MT', cursive;
}
img.boardered_image {
  border: 5px solid #555;
}

sidebar {
    width: 250px;
    height: 10000%;
    background-color: transparent;
    position: relative;
    right:0;
    top:0 ;
    padding-top: 20px;
    color: transparent;
}

sidebar a {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
}

sidebar a:hover {
    background-color: transparent;
}

content {
    margin-right: 250px;
    padding: 20px;
        

</body>
</html>
