.button_no_boarder {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    cursor: wait;
    font-size: 32px;
}
.button_no_boarder_small {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    cursor: not-allowed;
    font-size: 16px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* Font style for a specific header */
  h1.special-header {
    font-family: 'Comic Sans MS', sans-serif;
    /* Additional styling if needed */
    color: #3498db; /* Set a custom text color */
    font-size: 28px; /* Set a custom font size */
  }
  p.special-font {
    font-family:'Times New Roman', Times, serif;
  }
  img.boardered_image {
      border: 5px solid #555;
  }

</body>
</html>
